@section Styles
    {
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Hasta Kayıt Sayfası</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hasta Kayıt</a></li>
                    <li class="breadcrumb-item active">HBYS</li>
                </ol>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Hasta Kabul</h4>
                <button type="button" id="yeniKayit" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#modal">Yeni Ekle</button>
                <p class="card-title-desc">
                    Hasta kayıt ekranı.
                </p>

                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Muayene Tarihi</th>
                            <th>TC</th>
                            <th>Hasta Adı</th>
                            <th>Hastanın Telefon No</th>
                            <th>Adres</th>
                            <th>Klinik Adı</th>
                            <th>Doktor Adı</th>
                            <th>İşlemler</th>

                        </tr>
                    </thead>


                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div> <!-- end col -->
</div> <!-- end row -->




<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Hasta Kayıt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="hastaModal">


                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-4 col-form-label">Klinik</label>
                    <div class="col-md-8" id="ddlClinicX">
                        <select id="ddlClinic" class="form-select">
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-4 col-form-label">Doktor</label>
                    <div class="col-md-8" id="ddlDoctorX">
                        <select id="ddlDoctor" class="form-select">
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-4 col-form-label">TC</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" placeholder="" id="txtTC" maxlength="11">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-4 col-form-label">İsim</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" placeholder="" id="txtName">
                    </div>
                </div>


                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-4 col-form-label">Telefon</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" placeholder="" id="txtPhone" maxlength="11" onkeypress='return event.charCode >= 48 && event.charCode <= 57' value="05">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-4 col-form-label">Adres</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" placeholder="" id="txtAddress">
                    </div>
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Kapat</button>
                <button type="button" id="btnEkle" class="btn btn-primary waves-effect waves-light">Ekle</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts{
    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>


    <script type="text/javascript">
        var dataTable = $("#datatable-buttons").DataTable(
            {
                lengthChange: !1,
                buttons: ["copy", "excel", "pdf", "colvis"],
                ajax: "@Url.Action("GetAll","Patient")",
                columns: [
                    {
                        data: 'dateCreated',
                        render: function (data, type) {
                            var tarih = new Date(data).toLocaleString();
                            return tarih;
                        }
                    },
                    { data: 'tc' },
                    { data: 'name' },
                    { data: 'phone' },
                    { data: 'address' },
                    { data: 'doctor.clinic.name' },
                    { data: 'doctor.name' },


                    {
                        data: 'id', render: function (data, type) {
                            return `<a onClick="deleteHasta('${data}')" class="btn btn-danger"> Sil </a> <a id"editHasta" onClick="editHasta('${data}')" class="btn btn-info">Düzenle</a>`;
                        }
                    }

                ]
            }
        );

        $("#yeniKayit").click(function () {


            $('#ddlClinic option[value="0"]').attr('selected', 'selected');
            $('#ddlDoctor option[value="0"]').attr('selected', 'selected');
            $("#btnEkle").off();
            $("#btnEkle").click(createHasta);
            $("#btnEkle").text("Ekle");
            ddlClinicDoldur(0);
            ddlDoctorDoldur(0);
            $("#ddlDoctor option:selected").val(0);
            $("#ddlClinic option:selected").val(0);
            $("#txtName,#txtTC,#txtPhone,#txtAddress").val('');



        });


        function ddlClinicDoldur(clinicId) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAll","Clinic")",
                success: function (res) {
                    $("#ddlClinic").empty();
                    $("#ddlClinic").append(`<option value="0">Lütfen Seçiniz</option> `)
                    for (item of res.data) {

                        if (clinicId == item.id) {
                            $("#ddlClinic").append(new Option(item.name, item.id, false, true));
                        }
                        else {
                            $("#ddlClinic").append(new Option(item.name, item.id));
                        }


                    }

                    $("#ddlClinic").change(function () {

                        ddlDoctorDoldur($("#ddlClinic option:selected").val());

                    });


                }
            });



        }

        function ddlDoctorDoldur(clinicId) {
            $.ajax({
                type: "POST",
                data: { clinicId: clinicId },
                url: "@Url.Action("GetAll","Doctor")",
                success: function (res) {
                    $("#ddlDoctor").empty();
                    $("#ddlDoctor").append(`<option value="0">Lütfen seçiniz</option> `)

                    for (var item of res) {
                        console.log(item.name);

                        if (item.id == res.id) {
                            $("#ddlDoctor").append(new Option(item.name, item.id, false, true));
                        }
                        else {
                            $("#ddlDoctor").append(new Option(item.name, item.id));

                        }
                    }
                }
            });

        }



        function createHasta() {


            var veri = {
                name: $("#txtName").val(),
                tc: parseInt($("#txtTC").val()),
                phone: $("#txtPhone").val(),
                address: $("#txtAddress").val(),

                doctorId: $("#ddlDoctor option:selected").val(),



            };
            console.log(veri);

            if (tcno_dogrula($("#txtTC").val())) {
                $.ajax({
                    type: "POST",
                    data: veri,
                    url: "@Url.Action("Add","Patient")",
                    success: function (res) {
                        console.log(res);
                        $("#modal").modal('hide');
                        toastr.success('Yeni hasta başarıyla eklenmiştir.', 'Başarılı !');
                        dataTable.ajax.reload();
                        $("#ddlDoctor option:selected").val(0);
                        $("#ddlClinic option:selected").val(0);
                        $("#txtName,#txtTC,#txtPhone,#txtAddress").val('');

                    }
                });
            }
            else {
                Swal.fire('Hata!', 'Hatalı TC no girişi', 'error')
            }


        };

        function deleteHasta(id) {
            Swal.fire({
                title: 'Silmek istediginizden emin misiniz ?',
                showCancelButton: true,
                confirmButtonText: 'Evet'
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    var veri = { id: id }
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Delete","Patient")",
                        data: veri,
                        success: function (res) {
                            dataTable.ajax.reload();
                            Swal.fire('Silindi!', '', 'success')
                        },
                        error: function (xhr, status, error) {
                            Swal.fire('Hata!', 'silinemiyor', 'error')
                        }
                    });
                }
            });
        }
        $("#txtTC").on("change", function () {
            var tc = $(this).val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetByTC","Patient")",
                data: { tc: tc },
                success: function (res) {
                    if (res) {
                        
                        $("#txtName").val(res.name);
                        $("#txtPhone").val(res.phone);
                        $("#txtAddress").val(res.address);
                       
                    } else {
                        
                        $("#txtName").val("");
                        $("#txtPhone").val("");
                        $("#txtAddress").val("");
                       
                    }
                }
            });
        });


        function editHasta(id) {
            $("#editHasta").off();
            $("#modal").modal('show');


            var veri = { id: id }

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetByID","Patient")",
                data: veri,
                success: function (res) {


                    console.log(res);
                    $("#ddlDoctor").append(new Option(res.doctor.name, res.doctorId, false, true))
                    ddlClinicDoldur(res.doctor.clinicId);




                    $("#txtName").val(res.name);
                    $("#txtTC").val(res.tc);
                    $("#txtPhone").val(res.phone);
                    $("#txtAddress").val(res.address);
                    $("#btnEkle").text("Güncelle");
                    $("#btnEkle").off();
                    $("#btnEkle").click(function () {
                        veri =
                        {
                            id: id,
                            name: $("#txtName").val(),
                            tc: $("#txtTC").val(),
                            phone: $("#txtPhone").val(),
                            address: $("#txtAddress").val(),

                            doctorId: $("#ddlDoctor option:selected").val(),

                        }

                        if (tcno_dogrula($("#txtTC").val())) {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("Edit","Patient")",
                                data: veri,
                                success: function (res) {
                                    dataTable.ajax.reload();
                                    $("#modal").modal('hide');
                                    toastr.success(' Hasta bilgileri başarıyla düzenlenmiştir.', 'Düzenlendi !');
                                    $("#ddlDoctor option:selected").val(0);
                                    $("#ddlClinic option:selected").val(0);
                                    $("#txtName,#txtTC,#txtPhone,#txtAddress").val('');

                                }
                            })

                        }
                        else {
                            Swal.fire('Hata!', 'Hatalı TC no girişi', 'error');

                        }

                    })

                }
            });
        }
        function tcno_dogrula(tcno1) {
            // geleni her zaman String'e çevirelim!
            let tcno = tcno1;
            tcno = String(tcno);

            // tcno '0' karakteri ile başlayamaz!
            if (tcno.substring(0, 1) === '0') {
                return false;
            }
            // Tcno 11 karakter uzunluğunda olmalı!
            if (tcno.length !== 11) {
                return false;
            }

            /**
                Aşağıdaki iki kontrol için toplamları hazır ediyoruz
                - o anki karakteri sayıya dönüştür
                - tek haneleri ayrıca topla (1,3,5,7,9)
                - çift haneleri ayrıca topla (2,4,6,8)
                - bütün haneleri ayrıca topla
            **/
            var ilkon_array = tcno.substr(0, 10).split('');
            var ilkon_total = hane_tek = hane_cift = 0;

            for (var i = j = 0; i < 9; ++i) {
                j = parseInt(ilkon_array[i], 10);
                if (i & 1) { // tek ise, tcnin çift haneleri toplanmalı!
                    hane_cift += j;
                } else {
                    hane_tek += j;
                }
                ilkon_total += j;
            }
            /**
                KONTROL 1:
                1. 3. 5. 7. ve 9. hanelerin toplamının 7 katından,
                2. 4. 6. ve 8. hanelerin toplamı çıkartıldığında,
                elde edilen sonucun Mod10'u bize 10. haneyi verir
            **/
            if ((hane_tek * 7 - hane_cift) % 10 !== parseInt(tcno.substr(-2, 1), 10)) {
                return false;
            }

            /**
                KONTROL 2:
                1. 2. 3. 4. 5. 6. 7. 8. 9. ve 10. hanelerin toplamından
                elde edilen sonucun Mod10'u bize 11. haneyi vermelidir.
                NOT: ilk 9 haneyi üstteki FOR döndüsünde zaten topladık!
            **/
            ilkon_total += parseInt(ilkon_array[9], 10);
            if (ilkon_total % 10 !== parseInt(tcno.substr(-1), 10)) {
                return false;
            }

            return true;
        }



    </script>

}